<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Atharva Atul Rege
              </h1>
              <p>I am a third-year undergraduate student at the <a href="https://www.nitk.ac.in/">National Institute of Technology Karnataka (NITK), Surathkal</a>, pursuing a major in Computer Science and Engineering. I am a Research Intern at the <a href="https://cambum.net/I3D.htm">I3D Lab</a>, <a href="https://www.nitk.ac.in/">Indian Institute of Science (IISc), Bengaluru,</a> where I worked on developing diffusion-based methods for modifying the material properties of foreground objects, under the guidance of <a href="https://cambum.net/PB/">Prof. Pradipta Biswas</a>.
              </p>

              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/en"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/Atharva-Rege">GitHub</a> &nbsp;/&nbsp;
                <a href="">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/atharva-rege-467543312/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/Atharva-Photo-round.JPG">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Interests</h2>
              <p>
                I'm interested in Computer Vision, Generative Modeling and Natural Language Processing.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

         <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <ul>
              <li><strong>[05/2025]</strong>: Joined I3D Lab, IISc as a Research Intern.</li>
              <li><strong>[04/2025]</strong>: Displayed our project, "The Brush of Spells: Text-Guided Image Inpainting" at the NITK Project Exposition 2025.</li>
             </ul>
            </td>
          </tr>
        </table>
         <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

           <tr><td style="padding:2.5%;text-align:justify;"><h2>Publications</h2></td></tr>
          {% for post in site.posts %}
           {% if post.category == "publication" %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
             {% assign ext = post.image | split: '.' | last %}
              {% if ext == "gif" or ext == "GIF" %}
                <img src="{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;">
              {% else %}
                <img src="tn{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;">
              {% endif %}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle;text-align: justify;">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              
              {% if post.venue %}
                <em>{{ post.venue }}</em> – {{ post.duration }}
              {% else %}
                {{ post.duration }}
              {% endif %}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">Paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arXiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">Video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">Code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">Poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">Slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">Website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">Youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            <a href="{{ post.url }}">Read more →</a>
            </td>
          </tr>
           {% endif %}
          {% endfor %}

           <tr><td style="padding:2.5%;text-align:justify;"><h2>Projects</h2></td></tr>
           {% for post in site.posts %}
           {% if post.category == "project" %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              {% assign ext = post.image | split: '.' | last %}
              {% if ext == "gif" or ext == "GIF" %}
                <img src="{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;">
              {% else %}
                <img src="tn{{ post.image }}" alt="project image" style="width:auto; height:auto; max-width:100%;">
              {% endif %}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle;text-align: justify;">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              {% if post.venue %}
                <em>{{ post.venue }}</em> – {{ post.duration }}
              {% else %}
                {{ post.duration }}
              {% endif %}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">Paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arXiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">Video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">Code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">Poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">Slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">Website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">Youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            <a href="{{ post.url }}">Read more →</a>
            </td>
          </tr>
           {% endif %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                 Design and Source code from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
